*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/gradle.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

.idea/kotlinc.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/
app/Everything_v1.0_20170328_baidu.apk
app/Everything_v1.0_20170410_baidu.apk
